@use './styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Orbitron:wght@600&display=swap');

* {
  margin: 0;
  font-family: $font-body;
  background-color: $color-bg;
  color: $color-text;
}

body {}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: $body-margin-top-header 30px 30px 30px;
  flex: 1;
  box-sizing: border-box;
}

// Buttons
.button {
  background: $color-primary;
  color: $color-bg;
  border: none;
  padding: $padding;
  border-radius: $radius;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 0 10px $color-primary;
    transform: translateY(-2px);
  }

  &.secondary {
    background: $color-secondary;

    &:hover {
      box-shadow: 0 0 10px $color-secondary;
    }
  }
}